<div class="page page--with-footer page--error-404">
    <header ref='headerBackGround' class='header'>
        <div class="container">
            <a class="header__brand">
                <img class="logo" src="../../assets/logo.png" />
            </a>
        </div>
    </header>      
    <main class="main">
        <section class="section section--error-404">
            <div class="error-404">
                <span class="error-404__text-404">404</span>
                <div class="container">
                    <h1 class="section__title section__title--with-subtitle">ih, deu ruim!</h1>
                    <h2 class="section__subtitle">Parece que a página que você estava procurando sofreu um pequeno acidente no meio do caminho :/</h2>
                    <p class="error-404__message">Lamentamos pelo acidente, mas que tal voltar para a <strong routerLink="/simulacao">página inicial</strong> e continuar sua busca?</p>
                    <button class="button button--bordered" routerLink="/home">Voltar para a página inicial</button>
                </div>
                <div class="error-404__illustration">
                    <div class="error-404__illustration__background"></div>
                    <div class="error-404__illustration__car"></div>
                </div>
            </div>
        </section>
    </main>
</div>