<div style="background-color:rgba(211, 211, 211, 0.164); height:-webkit-fill-available;">
    <div class="content">
        <mat-card class="example-card">
          <mat-card-header>
              <div  mat-card-avatar style="background-image: url(https://www.shareicon.net/download/2016/08/18/813861_man_512x512.png)" class="example-header-image"></div>
            
              <mat-card-title>José Carlos Fonseca</mat-card-title>
              <br>
             
              
          </mat-card-header>
          <mat-card-content>
              <mat-card-title style="display: block; text-align: center">Suas Mensagens <br>com
                </mat-card-title>
                <mat-card-title  style="display: block; text-align: center">Paulo Juca de Souza</mat-card-title>
                <div mat-card-avatar style="background-image: url(https://www.shareicon.net/data/2016/09/01/822712_user_512x512.png); margin: -15px; float: right;" class="example-header-image"></div>
          </mat-card-content>
        </mat-card>
      </div>

   

      <div class="content">
          <mat-card class="example-card" style="height:300px;">
            <mat-card-header>
               
                
            </mat-card-header>
            <!-- <img mat-card-image src="http://www.tvleilao.net/admin/assets/images/sistema/tinymce/a89135b35e9f6eb39fbe1fc4eb229c36.jpg"> -->
            <mat-card-content>
              <p><b>Paulo diz: </b> Bom dia! Estou interessado no seu animal</p>
                
                  <div style="float: right; margin-top: 14em;">
                      <mat-form-field style="margin-right: 2em; size: 80%">
                          <input matInput class=""  placeholder="Digite aqui sua mensagem">
                        </mat-form-field>
                        <button mat-fab class="" color="primary" style=" float: right;"  matTooltip="Mensagens">
                            <span class="material-icons iconAdd">
                                send
                            </span></button> 
                  </div>
                  
               
            </mat-card-content>
          </mat-card>
          </div>
      
    </div>